.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.firebase*
/dist/
src/firebase/
firebase.json
firestore.indexes.json
firestore.rules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
